table {
    width: 80%;
    text-align: center;
    margin: auto;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 250px;
   
}
 
th.mat-header-cell {
    text-align: center;
    max-width: 100px;
}

  th.mat-sort-header-sorted {
    color: red
  }